/* Empty. Add your own CSS if you like */
.entryDate {
  float : left;
}
.entrySource {
  size : 12px;
  float: left;
}

.entryBalance {
  size : 12px;
  width: 100%;
  text-align: right;
}

.entryAmount {
  size : 10px;
  float:left;
}

.doneRecord {
  background-color: #009689;
}

.doneRecord .item-content {
  background-color: #009689;
}

.entryEstimatePlanned {
  font-style: italic;
}
