<ion-modal-view>
  <ion-header-bar class="bar-secondary">
    <h1 class="title">{{ formEditMode ? 'Edit Transaction' : 'New Transaction'}}</h1>
    <button class="button button-clear button-positive" ng-click="cancelTransactionForm()">Cancel</button>
  </ion-header-bar>

  <ion-content>
    <form name = "transactionForm" ng-submit="submitEntryForm()">
      <div class="list">
        <label class="item item-input">
          <input name = "source" type="text" placeholder="Source" ng-model="formEntry.source" required>
        </label>
        <label class="item item-input">
          <input name = "amount" type="number" ng-model="formEntry.amount" step = "0.01" placeholder="0.00" min="-99999" max="99999" required>
        </label>
        <label class="item item-input">
          <input name = "transactionDate" type="date" ng-model="formEntry.date" id="datePicker" required>
        </label>
        <div class="item item-toggle">
          Estimate
          <label class="toggle">
            <input type="checkbox" ng-model="formEntry.estimate" ng-checked="formEntry.estimate">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <div class="item item-toggle">
          Planned
          <label class="toggle">
            <input type="checkbox" ng-model="formEntry.planned" ng-checked="formEntry.planned">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
        <label class="item item-input">
          <input type="text" placeholder="Notes" ng-model="formEntry.notes">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive"> {{ formEditMode ? 'Edit Task' : 'Create Task' }}</button>
      </div>
      <div class = "padding errorText" ng-hide="transactionForm.$valid">
        <p ng-show = "transactionForm.source.$error.required">Source is Required</p>
        <p ng-show = "transactionForm.amount.$error.required">Amount is Required</p>
        <p ng-show = "transactionForm.amount.$error.max">Amount Must Be Less Than 99999</p>
        <p ng-show = "transactionForm.amount.$error.min">Amount Must Be Greater Than -999999</p>
        <p ng-show = "transactionForm.transactionDate.$error.required">Date is Required</p>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
